<!DOCTYPE html>
<html>
<head>
    <title>HF CMS</title>
    <meta charset = "utf-8">
    <meta meta name = “viewport” content = “width = device - width, initial scale = 1.0” >
    <style>
    body {
        background-image: url('../static/src/img/HF_Background.jpg');
    }

    .container {
        margin-top: 15%;
        margin-left: 35%;
        text-align: center;
        color: white;
    }
    </style>
</head>

<body>
    
    <div class = "container">
        <form class = "login_box" method="post">
            <fieldset style = "width:450px; height: 150px;">
                <div class = "id">아이디 : <input type = "text" name = "Name" placeholder = "아이디를 입력하세요"><br><br></div>
                <div class = "pw">비밀번호 : <input type = "password" name = "Pass" placeholder = "비밀번호를 입력하세요"><br><br></div>
                <div class = "sub"><input type = "submit" name = "Check" value = "Enter"></div>
            </fieldset>
        </form>
    </div>
   
</body>

</html>