<!DOCTYPE html>\new_sub01
<html>
<head>
    <title>HF CMS</title>
    <meta charset = "utf-8">
    <meta meta name = “viewport” content = “width = device - width, initial scale = 1.0” >
    <style>
    
    body {
        background-image: url('../static/src/img/HF_Background.jpg');
        background-size: cover;
        text-align: center;
    }

    .logo {
        margin-top: 15%;
    }
    
    </style>
</head>

<body>
    <div class = "container">

        <div class = "logo">
            <a href = "/login">
                <img src = "../static/src/img/HF_Ci.png" title = "3차원 이미지로 수정 예정" alt = "HF_Ci">
            </a>
        </div>

    </div>
</body>
</html>